body {
background-image: url('smoke.gif');
background-size: cover;
}
#dingo {
	color: white;
}
p {
color: white;
}
marquee {
color: white;
}
a {
	color: white;
}
a:visited {
	color: white;
}
a:hover {
	color: red;
}
div {
	display: inline;
}